.reveal section img {
  border: none;
}
.reveal table th {
  font-size: 0.75em; border: none;
}
.reveal table td {
  font-size: 0.75em; border: none;
}
.reveal {
  font-size: 30px;
}
.reveal h1 {
	font-size: 2em;
}
.reveal h2 {
	font-size: 1.6em;
}
.reveal h3 {
	font-size: 1.3em;
}
